<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
			<li><a href="https://www.linkedin.com/in/saschareynolds/">LinkedIn</a></li>
        		<li><a href="./Resume.pdf">Resume</a></li>
			<li><a href="mailto:sreynolds@g.hmc.edu">Email</a></li>
        		<li><a href="https://github.com/saschareynolds">Github</a></li>
    		</ul>
		</nav>
		
		{{ content }}
		
		<div class="container">
    		
        		
    		
		</div><!-- /.container -->
		
	</body>
</html>
